<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link rel="stylesheet" href="css/style.css" />
	
	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Fonawesome 4.7.0 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Home</title>
</head>
<body>
	<nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="index.html">
	  	<i class="fa fa-bolt text-warning mr-2" aria-hidden="true"></i>Thunder
	  </a>	  
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="index.html">Home</a>
	      </li>
	      <li class="nav-item c_dropdown">
	        <a class="nav-link dropdown-toggle" href="categories.html">
	          Daten-Kategorien
	        </a>
	        <div class="c_dropdown-menu">
	          <a class="c_dropdown-item" href="data.html">Temperatur</a>
	          <a class="c_dropdown-item" href="data.html">Niederschlag</a>
	          <a class="c_dropdown-item" href="data.html">Windstärke</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Docs</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="team.html">Team</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="credits.html">Credits</a>
	      </li>
	    </ul>
	</nav>

	<main class="wrapper container-fluid main__cover">
		<section class="cover-container">
			<div class="cover-txt">
				<h2 class="cover-txt__title">
					Hallo von <span class="text-warning">Team 8</span>
				</h2>
				<p class="pst cover-txt__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem minus nulla, aut est accusamus aliquid, omnis vero aspernatur quibusdam nihil minima exercitationem repellat molestias sit natus reprehenderit delectus odit amet.
				</p>
				<p class="mt-4 cover-txt__content">
					<a href="categories.html" class="btn btn-lg btn-warning">
						Weiter
					</a>
				</p>
			</div>
		</section>
		<div class="text-center">
			<small class="text-light">Photo by <a href="https://www.pexels.com/@kaiquestr" target="_blank">Kaique Rocha</a> from <a href="https://www.pexels.com/" target="_blank">Pexels</a></small>
		</div>
	</main>
</body>
</html>